$midnight: #ffffff;
$clouds: #ecf0f1;
$textcol: black;
// General

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: $textcol;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: left; //space-between;
    vertical-align: bottom;
    margin: 0;
    padding: 0.2em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      margin-left: 0.5em;
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 0.2em;
    color: $textcol;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100%; // Originally 100vh, which cuts contents
    padding: 0.2em;
  }
}

.note {
  text-align: left;
  color: gray;
}

.pass, .success { color: green; }
.mixed, .missing-dependencies { color: orange; }
.fail, .failing { color: red; }
.unavailable { color: gray; }
.untested { color: gray; }

.inlined { display: inline; }
.bolded { font-weight: bold;}